<article class="pokedex-card">
  <a [routerLink]="['/pokemon',pokemon.id]">

    <img class="pokedex-card-img" src={{pokemon.ThumbnailImage}} alt="" />
    <div class="pokedex-card-details">
      <small class="pokedex-card-details__number">#{{pokemon.number}}</small>
      <h4 class="pokedex-card-details__title">{{pokemon.name}}</h4>
      <div class="pokedex-card__types">
        <!-- 
        { pokemon.type.map((type, index) => (
              <PokedexTag
              key={{index}}
              type={{type}}
            />
            ))
          }
        -->
      </div>
    </div>
  </a>

</article>