<main class="main-section mb-5">
    <div class="container">
      <section class="pokedex-item mt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="pokedex-detail__title text-center mb-5">
              {{pokemon.name}}
              <span class="text-muted">#{{pokemon.number}}</span>
            </h1>
            <hr/>
            <div class="row">
              <div class="col-md-5">
                <img class="pokedex-detail__image" [src]="pokemon.ThumbnailImage" alt="" />
              </div>
              
              <div class="col-md-7">
                <h4>Tipo</h4>

                <pokedex-tag [type]="pokemon.type"></pokedex-tag>

                <h4 class="mt-3">Debilidades</h4>
                
                <pokedex-tag [type]="weakness" *ngFor="let weakness of pokemon.weakness"></pokedex-tag>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</main>
