<main className="main-section mb-5">
    <div className="container">
      <section className="pokedex-item mt-5">
        <div className="row">
          <div className="col-md-12">
            <h1 className="pokedex-detail__title text-center mb-5">
              {{pokemon.name}}
              <span className="text-muted">#{{pokemon.number}}</span>
            </h1>
            <hr/>
            <div className="row">
              <div className="col-md-5">
                <img className="pokedex-detail__image" [src]="pokemon.ThumbnailImage" alt="" />
              </div>
              <!-- <div className="col-md-7">
                <h4>Tipo</h4>
                {{ this.pokemonTags() }}
                <h4 className="mt-3">Debilidades</h4>
                {{ this.weaknessTags() }}
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>
</main>